* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.footer {
    background: #440088;
    padding: 2em 0;
    
}
h3{
    color: #fff;
}
a{
    color: #fff;
}

.seccion-footer {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
}

.seccion-footer h3 {
    color: #fff;
    font-size: 1.7em;
    margin-bottom: 1em;
}

.seccion-footer p {
    color: #ABABAB;
    line-height: 2.2em;
    font-size: 14px;
}

.seccion-footer ul li {
    list-style-type: none;
    font-size: 14px;
    line-height: 2.2em;
    color: #ABABAB;

}

.seccion-footer ul li a {

    color: #ABABAB;
}


body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgb(4, 1, 14) 75%), url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

h1 {
	font-weight: 300;
    font-size: 100px;
}

.hero {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}


.contenedor {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor p {
	margin-bottom: 40px;
}

.contenedor img {
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin-bottom: 40px;
	border-radius: 5px;
    animation-name: img1;
    animation-duration: 1s;
}
@keyframes img1{
    animation-timing-function: ease-in;
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50;
    }
    100%{
        100
    }

}


/*-- header --*/
.header {
    text-align: center;
    margin-top: 2em;
}
/*--//to-top--*/
.titulo {
    text-align: center;
    margin-bottom: 3em;
}

.titulo h3 {
    font-size: 3em;
    color: #000;
    margin-bottom: 0.5em;
}
/* TABLA */
.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    font-size: 0.8em;
    color: #222222;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

table.table {
    width: 100%;
    border: 1px solid #D0D0D0;
}

td.t-data {
    border: 1px solid #D2D2D2;
    padding: 10px !important;
    color: #000;
    vertical-align: middle !important;
    font-size: 1em !important;
}

th.t-head {
    background: #F1F1F1;
    color: #FFFFFF;
    font-size: 1em !important;
    padding: 0.6em !important;
    border: 1px solid #D2D2D2 !important;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}


.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.search input {
    width: 300px;
    padding: 10px;
}


.container__menu {
    width: 100%;
    height: 70px;
    background: rgb(70, 53, 170);
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav>ul>li:first-child>a {
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav>ul>li:first-child:hover>a {
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav>ul>li>a:hover {
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


/*SUBMENU*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover {
    background: #0074C7;
    color: #fff;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.buscar {
    position: relative;
    padding: 10px;
}

.buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.boton-buscar {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #440088;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 240px;
}

.buscar input:focus {
    width: 240px;
}